temp.png
Quotatas/__pycache__/template_collection.cpython-313.pyc
Quotatas/__pycache__/image_utils.cpython-313.pyc
Quotatas/__pycache__/word_collections.cpython-313.pyc
.stfolder
dutch_wisdom_quote_collection.txt
Quotatas/__pycache__/colorbutton.cpython-313.pyc

